@model WebAPI_MVC.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ManufacturingCost" class="control-label"></label>
                <input asp-for="ManufacturingCost" class="form-control" />
                <span asp-validation-for="ManufacturingCost" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ManufacturedDate" class="control-label"></label>
                <input asp-for="ManufacturedDate" class="form-control" type="date" />
                <span asp-validation-for="ManufacturedDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SellingPrice" class="control-label"></label>
                <input asp-for="SellingPrice" class="form-control" />
                <span asp-validation-for="SellingPrice" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <input class="form-check-input" asp-for="IsActive" />
                <label class="form-check-label" asp-for="IsActive">
                    @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
