@model BookManagerApp.Models.Book
<h4>Book Details (Partial View)</h4>
<p><strong>ID:</strong> @Model.Id</p>
<p><strong>Title:</strong> @Model.Title</p>
<p><strong>Author:</strong> @Model.Author</p>
<p><strong>Genre:</strong> @Model.Genre</p>

